{% extends 'main.html' %}

{% block title %}
Login | Love Chat
{% endblock title %}

{% block content %}

<!-- Display error messages to user -->
{% for field in login_form %}
<p>
    {% for error in field.errors %}
<div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
    {{ error }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
</p>
{% endfor %}

{% if login_form.non_field_errors %}
<div class="text-danger">
    <p>{{login_form.non_field_errors}}</p>
</div>
{% endif %}
<!-- End error messages display -->

<section class="" style="margin-top: 150px;">
    <div class="text-center mb-5">
        <h1><em>Welcome to</em> LoveChat</h1>
        <small>Log in to continue</small>
    </div>
    <form action="" method="POST" class="container login-form">
        {% csrf_token %}
        <div>
            <input class="p-3  mb-3" type="text" name="username" id="inputUsername" class="" placeholder="Username" required
                autofocus>
            <input class="p-3  mb-3" type="password" name="password" id="inputPassword2" class=""
                placeholder="Enter password" required>
        </div>
        <div class="d-grid">
            <button class="my-3 btn-1" type="submit">Log in</button>
        </div>
        <div class="d-flex align-items-center justify-content-between">
            <div>
                <input type="checkbox">
                <span>Remeber me</span>
            </div>
            <span class="text-white" href="#">Forgotten password ?</span>
        </div>
        <p class="text-center mt-5">Don't have an account? Sign up <a href="{% url 'register' %}">here</a></p>
    </form>
</section>
{% endblock content %}