{% extends 'main.html' %}

{% block title %}
User Suggestion Page | Love Chat
{% endblock title %}

{% block content %}

<h5 style="margin-top: 200px;" class="mb-5 m text-center">Suggested For You</h5>
{% for user in suggest_users %}
<div class="w-25 suggestion-page">
    <div class="d-flex align-items-center justify-content-between">
        <div>
            <img class="rounded-circle me-3 pic" src="{{user.avatar.url}}" alt="">
            <span><b> {{user.name|truncatechars:10}}</b></span>
        </div>
        <div>
            <a class="ms-5" href="/user-profile/{{ user.username }}">view</a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}