{% extends 'main.html' %}
{% block title %}
Topics | LoveChat
{% endblock title%}
{% block content %}
<section class="container text-white" style="margin-top: 170px;">
    <h4 class=" text-center">Available Topics</h4>
    <div class="topic-name-link">
        <a href="{% url 'group-chat' %}">All</a>
    </div>
    {% for topic in topics %}
    <div class="topic-name-link">
        <a href="{% url 'group-chat' %}?q={{ topic.name }}">{{ topic.name }}</a>
    </div>
    {% endfor %}
</section>
{% endblock content %}